.aviamudaki
{
	text-align: center;
	margin-left: 30px;
	margin-top: 20px;
	border-collapse: collapse;
}
body
{
background-image:url("http://www.fonstola.ru/pic/201111/1600x900/fonstola.ru-55699.jpg");
background-size: 110%;
background-repeat: no-repeat;
}
tr th
{
	padding: 12px;
	font: bold 17px Arial;
	border-bottom: 5px double white;
}
tr td 
{
 font: italic 14px sans-serif; 
}
tbody tr:hover
{
	background-color:red;
}
