.aviamudaki
{
	text-align: center;
	margin-left: 30px;
	margin-top: 20px;
	border-collapse: collapse;
}
body
{
background-image:url("http://www.fonstola.ru/pic/201111/1600x900/fonstola.ru-55699.jpg");
background-size: 110%;
background-repeat: no-repeat;
}
{
	background-color:rgba(255,165,0,0.4) 
}
tr th
{
	padding: 12px;
	font: bold 17px Arial;
	border-bottom: 5px double white;
}
tr td 
{
 font: italic 14px sans-serif; 
}
tbody tr:nth-child(odd)
{
	background-color:rgba(255,165,0,0.2);
}
tbody tr:hover
{
	background-color:rgba(255,0,255,0.2);
}
select
{
	left: 30 px;
	margin-top: 20px;
}
arrive
{
 display: none;  
}
.departure
{
 display:
}
.arrive .deparure
